@font-face {
  font-family: "Geist Mono";
  src:
    url("/fonts/GeistMono-Regular.woff2") format("woff2"),
    url("/fonts/GeistMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-family: "Geist Mono", monospace;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-panel {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: #2c2c2c;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: 16px;
  opacity: 0.275;
  transition: opacity 0.25s;
}

#range {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#game-panel:hover {
  opacity: 1;
}

.control {
  display: flex;
  gap: 10px;
  align-items: center;
}

#start-stop-button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  font-family: "Geist Mono", monospace;
}

#show-grid {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: #222;
  cursor: pointer;
  vertical-align: middle;
}

#game-objects-selector {
}

#select-button {
}

#panel {
  display: none;
}
