@font-face {
  font-family: "Geist Mono";
  src:
    url("/fonts/GeistMono-Regular.woff2") format("woff2"),
    url("/fonts/GeistMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-family: "Geist Mono", monospace;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-panel {
  padding: 21px;
  width: 290px;
  position: absolute;
  left: 0;
  top: 0;
  background: #2c2c2c;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: 16px;
  opacity: 0.275;
  transition: opacity 0.25s;
}

#range {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

input {
  width: 100%;
}

#game-panel:hover {
  opacity: 1;
}

.control {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

#start-stop-button {
  padding: 8px;
  border-radius: 6px;
  border: none;
  font-family: "Geist Mono", monospace;
}

#show-grid {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background: #222;
  cursor: pointer;
  vertical-align: middle;
}

#game-objects-selector {
}

#select-button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Geist Mono", monospace;
  cursor: pointer;
  font-size: 16px;
}

#select-button:hover {
  color: rgba(255, 255, 255, .98);
}

#select-button:active {
  color: rgba(255, 255, 255, 0.5);
}

#panel {
  margin-top: 25px;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 300px;
  overflow-y: scroll;
  scrollbar-color: #4c4c4c transparent;
  scrollbar-width: thin;
}

.gameobj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgba(53, 53, 50, 0.089);
  padding: 14px;
  border-radius: 5px;
}

.gameobj-container:hover {
  background-color: rgba(110, 112, 95, 0.089)
}

img {
  height: auto;
}